*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* carousel section  */
.slider-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.slider-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .7;
}
.slider-caption{
    bottom: 200px;
}